#about {
    
    background-color: #121212;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 6%;
}

.about-text {
  max-width: 86%;
}

.about-box {
  
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 19px;
  font-weight: 500;
  color: black;
}

.about-paragraph {
  font-size: 19px;
  color: black;
}

.about-me {
  
  font-weight: 900;
  color: #FFFFFF;
  
}
    
.about-container {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
    padding-top: 5%;
  }
   

  /* @media (max-width: 768px){
    #about {
      height: auto;
      padding-bottom: 50px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .about-text {
      margin-left: -17px;
      font-size: 1.4rem;
      text-align: left;
      margin-top: -30px;

  }
  
  } */


