.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 10px);
    text-align: center; /* Aligns text inside the container */
}

.about-text {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: left; 
    width: 65%; 
}

@media (max-width: 480px) {
    .about-text {
        width: 90%;
        margin-top: 170px;
        font-size: 20px;
        text-align: left;
    }
  }

