
#home {
  padding-bottom: 17%;
}

.home-image {
  max-width: 36%;
  padding: 4%;
}

.home-container {
  display: flex;
  align-items: center;
  
}

.home-text {
  
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 3%;
  width: 46%;
  margin-top: 5%;
}

.bold-name {
  font-weight: 500;
  color: #8899a6;
}

.second-p {
  font-size: 3rem;
}

strong {
  color: #8899a6;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 40px;
}

.social-icons > * {
  margin-right: 15px;
}


@media only screen and (min-width: 280px) and (max-width: 540px) {
 

  .home-image {
    display: none;
  }

  .home-text {
    padding-top: 15%;
    width: 70%;
    padding-left: 11%;
    font-size: 1.5rem;
  }

  .second-p {
    
    font-size: 2.5rem;
  } 
}

@media only screen and (min-width: 541px) and (max-width: 900px) {
 

  .home-image {
    display: none;
  }

  .home-text {
    padding-top: 7%;
    width: 60%;
    padding-left: 8%;
    font-size: 2rem;  
  } 

  .second-p {
    font-size: 3.1rem;
  } 
} 

@media only screen and (min-width: 901px) {
  .home-text {
    padding-left: 5%;
  }

  .home-image {
    
    margin-right: 5%;
  }
}