
#home {
  height: 800px;
  
}

.home-image {
  width: 500px;
  padding-left: 70px;
}

.home-container {
  display: flex;
  align-items: center;
  height: 100vh;  
}

.home-text {
  flex: 1;
  padding-left: 90px;
  max-width: 500px;
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.2;
}

.bold-name {
  font-weight: 500;
  color: #8899a6;
}



.second-p {
  font-size: 2.8rem;
}

strong {

  color: #8899a6;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 40px; 
}

.social-icons > * {
  margin-right: 15px; /* Adjust the margin to create space between icons */

}

@media only screen and (max-width: 1024px) {
  #home {
    height: auto;
  }

  .home-image {
    display: none;
  }

  .home-text {
    font-size: 3rem;
  }

  .second-p {
    font-size: 4rem;
  }
} 


@media only screen and (max-width: 820px) {
  #home {
    height: auto;
  }

  .home-image {
    display: none;
  }

  .home-text {
    margin-top: -100px;
    font-size: 2.2rem;
  }

  .second-p {
    font-size: 3.2rem;
  }
} 


@media only screen and (max-width: 768px) {
  #home {
    height: auto;
  }

  .home-image {
    display: none;
  }

  .home-text {
    padding: 50px;
    font-size: 2.2rem;
    margin-top: -150px;
    margin-left: 30px;
  }

  .second-p {
    font-size: 3rem;
  }
}



@media (max-width: 480px) {
  #home {
    height: auto;
  }

  .home-container {
    
    flex-direction: column;
    align-items: center;
  }

  .home-text {
    margin-top: 20px;
    margin-right: 100px; /* Reset the conflicting margin-right */
    line-height: 1;
    font-size: 1.5rem;
  }

  .third-p {
    
    margin-bottom: 30px;
  }

  .home-image {
    display: none;
  }

  .social-icons {
    margin-top: 20px; /* Adjust margin top for spacing */
    
  }
}


@media only screen and (max-width: 380px){

  #home {
    height: auto;
  }

  .home-text {
    font-size: 1.4rem;
  }

  .second-p {
    font-size: 2.5rem;
  }

 
  
}
