.navbar {
    padding: 1rem;
    background-color: black; 
    color: white; 
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .navbar a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  .nav-links li {
    margin: 0 2rem;
    transition: all .3s ease-in-out; 
    }

.nav-links li:hover{
    transform: scale(1.2);
}

  .nav-links ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px; /* Adjust spacing between links */
    list-style: none;
    font-size: 20px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 0.5rem 2.5rem 0.5rem 0.5rem; /* Adjust padding for smaller screens */
      /* Padding: top, right, bottom, left */
    }
  
    .nav-links li {
      margin: 0 0.5rem; /* Further reduce margin for smaller screens */
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }