.navbar {
    padding: 2rem;
    background-color: black; 
    color: white; 
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .navbar a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  .nav-links li {
    margin: 0 2rem;
    transition: all .2s ease-in-out; 
    }

.nav-links li:hover{
    transform: scale(1.2);
}

  .nav-links ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 35px; /* Adjust spacing between links */
    list-style: none;
    font-size: 25px;
    font-weight: bold;
  }
