.project-detail {
  display: flex;
}

.project-info {
  margin-top: 5px;
  font-size: 17px;
}

.gallery-container {
  margin-top: 50px;
  width: 50%; 
  margin-left: 30px;

}

.content-container {
  margin-left: 40px;
  text-align: left;
  width: 40%; 
}

.project-name {
  font-weight: bold;
}


.video-container {
    width: 70%;
    padding: 40px;
}

video {
    width: 100%; /* Set the width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent video from exceeding its container's width */
  }
  
@media screen and (max-width: 480px) {
  .project-detail {
    flex-direction: column; 
  }

  .gallery-container,
  .content-container {
    width: 100%; 
    margin-left: 0; 
    padding-right: 0; 
  }
}


@media screen and (max-width: 480px) {
  /* Media query for screens up to 480px */

  .project-detail {
    flex-direction: column;
    align-items: center; /* Center items in the column layout */
  }

  .gallery-container {
    width: 90%; /* Make the gallery container slightly smaller for small screens */
    margin-top: 20px; /* Adjust top margin for spacing */
  }

  .content-container {
    width: 100%; /* Set the content container to full width */
    margin-left: 0; /* Remove any left margin */
    padding-right: 0; /* Remove any right padding */
  }
}







 