.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px; 
  }

.project-card {
    position: relative;
    margin-bottom: 20px;
  }
  
  .project-card img {
    max-width: 550px;
    height: auto;
    transition: transform 0.4s ease-in-out;
  }


.project-card img:hover {
  transform: translateY(-6px); 
}


  @media (max-width: 480px){
    .project-card {
      width: 100%;
    }

    .projects-container {
      padding:10px;
      margin-top: 10px;
    }
    
    .project-card img {
      width: 100%;
      margin: 15px auto;
    }
  
  }

    