.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 50px; 
  }
  
  .project-card img {
    max-width: 1000px;
    height: auto;
  }


  @media (max-width: 480px){
    .project-card {
      width: 90%;
      margin: 0 auto;
      
    }

    .projects-container {
      padding:20px;
      margin-top: 20px;
    }
    
    .project-card img {
      width: 100%;
      margin: 15px auto;
    }
  
  }

    