
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

.name {
  font-weight: 700;
  position: relative;
  top: 20px;
  padding-left: 5%;
  /* border: solid black; */
  font-size: 40px;
}

.title {
  font-size: 20px;
  position: relative;
  top: -20px;
  padding-left: 11%;
  /* border: solid black; */
}

ul {
  position: relative;
  top: -80px;
  /* border: solid black; */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 60%;
}

a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.banner {
  text-align: center;
  margin: 20%;
}

.about {

  position: relative;
  top: 150px;
  left: 190px;
  width: 45%;
  line-height: 1.7;
  
  
  
}

.portfolio {
  margin: 15%
}

.experience {
  margin: 15%;
}

img {
  position: relative;
  left: 810px;
  top: -50px;
  max-width: 20%;
}